{% extends 'base.html' %}

{% load static %}

{% block title %}Diagnosticar anemia | SOM{% endblock title %}

{% block content %}
    <hr class="my-3">
    <div class="modal-dialog modal-dialog-centered modal-xl">
        <div class="modal-content">
            <div class="card shadow">
                <div class="card-header p-1">
                  <div class="card-body">
                      <h2 class="bg-light">Diagnostico del paciente</h2>
                      <hr class="my-2">
                      <br>
                      <div class="col-12">
                        <h3>Probabilidad de sufrir una enfermedad del corazón </h3>
                          {% if response  == "0" %}
                              <h5>El diagnostico es:  Nivel de obstrucción arterial al 40%</h5>
                          {% elif response == "1" %}
                                <h5>El diagnostico es:  Nivel de obstrucción arterial al 50%</h5>
                          {% elif response == "2" %}
                                <h5>El diagnostico es:  Nivel de obstrucción arterialal 65%</h5>
                          {% elif response == "3" %}
                                <h5>El diagnostico es:  Nivel de obstrucción arterial al 70%</h5>
                          {% elif response == "4" %}
                              <h5>El diagnostico es:  Nivel de obstrucción arterial al 75%</h5>
                          {% endif %}
                      </div>
                      <div class="d-flex justify-content-center">
                            <div class="row">
                                <hr class="mx-5">
                                <img src="/static/image/test.png" width="75%" />
                            </div>
                        </div>
                      <div class=" row">

                          <div class="col-2">
                              <a href="{% url 'som:list_patient' %}" class="btn btn-danger my-3 mx-3"><i class="fas fa-window-close"></i>
                                  <strong>Cancelar</strong></a>
                          </div>
                      </div>
                  </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/table.js' %}"></script>

<script>
  $.extend(true, $.fn.dataTable.defaults, {
    searching: true,
    ordering: false,
  });
</script>
{% endblock js %}