<div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="row p-2">
        <div class="col">
          <div class="card shadow">

            {% if object %}
            <div class="card-header bg-warning p-1">
              {% else %}
              <div class="card-header bg-success p-1">
                {% endif %}
              </div>
              <div class="card-body">
                {% if object %}
                <form method="POST" action="{% url 'som:edit_patient' object.pk %}">
                  {% csrf_token %}
                  <div class=" row">
                    <div class="col-12">
                      <label><strong><span class="text-uppercase">Editar Paciente</span></strong></label>
                      {% else %}
                      <form method="POST" action="{% url 'som:register_patient' %}">
                        {% csrf_token %}

                        <div class=" row">
                          <div class="col-12">
                            <label><strong><span class="text-uppercase">Nuevo Paciente :</span></strong></label>
                            {% endif %}
                          </div>
                          <div class="col-4">
                            <label><strong>{{form.age.label}} :</strong></label>
                            {{form.age}}
                          </div>
                          <div class="col-4">
                            <label><strong>{{form.sex.label}} :</strong></label>
                            {{form.sex}}
                          </div>
                         <div class="col-4">
                            <label><strong>{{form.cp.label}} :</strong></label>
                            {{form.cp}}
                          </div>
                          <div class="col-4">
                            <label><strong>{{form.trestbps.label}} :</strong></label>
                            {{form.trestbps}}
                          </div>

                          <div class="col-4">
                            <label><strong>{{form.chol.label}} :</strong></label>
                            {{form.chol}}
                          </div>
                          <div class="col-4">
                            <label><strong>{{form.fbs.label}} > 120:</strong></label>
                            {{form.fbs}}
                          </div>
                         <div class="col-4">
                            <label><strong>{{form.restecg.label}} :</strong></label>
                            {{form.restecg}}
                          </div>
                          <div class="col-4">
                            <label><strong>{{form.thalach.label}} :</strong></label>
                            {{form.thalach}}
                          </div>

                          <div class="col-4">
                            <label><strong>{{form.exang.label}} :</strong></label>
                            {{form.exang}}
                          </div>
                          <div class="col-4">
                            <label><strong>{{form.oldpeak.label}} :</strong></label>
                            {{form.oldpeak}}
                          </div>
                         <div class="col-4">
                            <label><strong>{{form.slope.label}} :</strong></label>
                            {{form.slope}}
                          </div>
                          <div class="col-4">
                            <label><strong>{{form.ca.label}} :</strong></label>
                            {{form.ca}}
                          </div>
                          <div class="col-4">
                            <label><strong>{{form.thal.label}} :</strong></label>
                            {{form.thal}}
                          </div>
                        </div>
                        <div class=" row">
                            <div class="col-2">
                                <br>
                              <button type="submit" class="btn btn-info"><strong><i class="fas fa-save"></i>
                                  Guardar</strong></button>
                            </div>
                            <div class="col-2">
                                <br>
                              <button type="submit" class="btn btn-danger" onclick="return cerrar_modal()"><strong><i
                                    class="fas fa-window-close"></i>
                                  Cancelar</strong></button>
                            </div>
                        </div>
                      </form>
                    </div>
                  </div>
              </div>
            </div>

          </div>
        </div>