{% extends 'base.html' %}

{% load static %}

{% block title %}Diagnosticar anemia | SOM{% endblock title %}

{% block subtitle %}
<i class="fas fa-hospital-user"></i><strong>Paciente</strong> <i class="fas fa-angle-double-right"></i>
<strong>Diagnosticar anemia</strong>
{% endblock subtitle %}

{% block content %}

<div class="card my-5">
  <div class="card-header">
    <span class="float-md-left text-black text-uppercase mt-2"><i class="fas fa-list"></i> <strong><mark> Listado de
        Pacientes registrados</mark></strong></span>

      <a href="#" onclick="return abrir_modal('{% url 'som:register_patient' %}')" class="btn btn-success float-right">
          <i class="far fa-plus-square mr-1"></i> <strong>Nuevo Paciente</strong></a>
  </div>
  <div class="card-body">
    <div class="row d-flex justify-content-center">
      <div class="col-12">
        <!--<hr class="my-3">-->
        <div class="table-responsive">
          <table id="example" class="table table-bordered table-hover text-center">
            <thead class="text-center text-white" style="background: #284b63">
              <tr>
                <th>Edad</th>
                <th>Sexo</th>
                <th>Dolor de pecho</th>
                <th>Presión de sangre</th>
                <th>Colesterol</th>
                <th>Nivel de azúcar en ayuno</th>
                <th>Resultadps electrocardiográficos en reposo</th>
                <th>Nivel máximo de frecuencia cardiaca</th>
                <th>Angila inducida por ejercicio</th>
                <th>Depresión ST inducida</th>
                <th>Pico más alto</th>
                <th>Núm. vasos principales</th>
                <th>thal</th>
                <th colspan="2">Acciones</th>
              </tr>
            </thead>
            <tbody>
              {% for paciente in object_list %}
              <tr>
                <td>{{paciente.age}}</td>
                <td>{{paciente.get_sex_display}}</td>
                <td>{{paciente.get_cp_display}}</td>
                <td>{{paciente.trestbps}}</td>
                <td>{{paciente.chol}}</td>
                <td>{{paciente.get_fbs_display}}</td>
                <td>{{paciente.get_restecg_display}}</td>
                <td>{{paciente.thalach}}</td>
                <td >{{paciente.get_exang_display}}</td>
                <td>{{paciente.oldpeak}}</td>
                <td>{{paciente.get_slope_display}}</td>
                <td>{{paciente.get_ca_display}}</td>
                <td>{{paciente.get_thal_display}}</td>
                <td>
                  <a href="#" class="btn btn-warning mr-2" onclick="return '{% url 'som:edit_patient' paciente.id %}'"><i class="fas fa-edit"></i><strong>Editar</strong></a>
                </td>
                <td>
                    <a href="{% url 'som:hallarPaciente' paciente.id %}" class="btn btn-success" ><strong><i
                                class="fas fa-share-square"></i> Diagnosticar</strong></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
    <hr class="my-3">
    <br>
    <div class="d-flex justify-content-center">

        <div class="row">
            <hr class="mx-5">
            <img src="/static/image/doctor.jpg" width="40%" />
        </div>

    </div>
<hr class="my-3">
</div>


{% endblock content %}

{% block js %}
<script src="{% static 'js/table.js' %}"></script>

<script>
  $.extend(true, $.fn.dataTable.defaults, {
    searching: true,
    ordering: false,
  });
</script>
{% endblock js %}