.navbar {
  background: #1e2933;
  /*background-color: #333535;*/
  /*background-color: #484848;*/
  border-radius: 5px;
}

.navbar .navbar-nav .nav-link {
  color: #fff;
}

.navbar .navbar-nav .nav-link:hover {
  color: #51b3c0;
  /*color: #fbc531;*/
}

.navbar .navbar-nav .active > .nav-link {
  color: #51b3c0;
  /*color: #fbc531;*/
}

@media (max-width: 992px) {
  footer .cizgi {
    border-right: none;
  }
}

:root {
  --color-one: #f5f5f5;
  --color-two: #24292e;
  /*--color-three: #EC5252;*/
  --color-three: rgb(5, 94, 129);

  --form-color: #14111a;

  --accent-color: #253556;
  /*--accent-color: #455A64;*/
  --border-color: #d8d8d8;
}

.tile-container {
  text-align: center;
  padding: 20px 25px;
}

.tile {
  height: 200px;
  width: 200px;
  margin: 10px;
  display: inline-block;
  text-decoration: none;
  /*color: var(--accent-color);*/
  color: black;
  border: 1px solid var(--border-color);
  border-radius: 3px;
  user-select: none;
  transition: all 0.2s ease-in-out;
  background-color: rgb(237, 240, 240);
}

.tile:hover {
  text-decoration: none;
  border-color: var(--color-three);
}

.tile:focus,
.tile:active {
  outline: none;
}

.tile-tittle {
  margin: 0;
  width: 100%;
  padding: 0;
  height: 40px;
  line-height: 40px;
  box-sizing: border-box;
  text-transform: uppercase;
  border-bottom: 1px solid var(--border-color);
  transition: all 0.2s ease-in-out;
  font-family: "roboto_medium_regular";
}

.tile:hover .tile-tittle {
  color: #fff;
  border-color: var(--color-three);
  background-color: var(--color-three);
}

.tile-icon {
  width: 100%;
  height: 160px;
  box-sizing: border-box;
  padding-top: 22px;
}

.tile-icon > i {
  font-size: 80px;
}

.tile-icon > p {
  font-family: "roboto_medium_regular";
  height: 35px;
  line-height: 35px;
}

.tile:hover .tile-icon > i,
.tile:hover .tile-icon > p {
  color: var(--color-three);
}
